@model Bussiness_Manager.Utility.IGenericContainer<List<Bussiness_Manager.Dto.customerDto>>
@{
    ViewData["Title"] = "manageCustomer";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}


<div class="text-center" style="background-color:white; border-radius:1rem;">
    <h1 class="display-4 text-primary">Customers</h1>
    <br />

    <form asp-action="updateToken" method="post">
        <div class="Mvr text-center" style="background-color:white; border-radius:1rem;">

            <table class="scrollable-table">
                <thead>
                    <tr>
                        <th>
                            Sno
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Customer Address
                        </th>
                        <th>
                            Mobile no
                        </th>
                        <th>
                            Creation Date
                        </th>
                        <th>
                            Balance Amount
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int cnt=0;
                        foreach (var customer in Model.Value)
                        {
                            cnt = cnt + 1;
                            <tr>
                                <td>
                                   @cnt
                                </td>
                                <td>
                                    @customer.name
                                </td>
                                <td>
                                    @customer.address
                                </td>
                                <td>
                                    @customer.mobileNo
                                </td>
                                <td>
                                    @customer.createdOn.Value.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @customer.address
                                </td>
                            
                                <td>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button">
                                            &#9776; <!-- This is the hamburger icon (three lines) -->
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Edit</a>
                                            <a class="dropdown-item">Delete</a>
                                            <a class="dropdown-item">Payment In</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div class="text-lg-end" style=" border-color:black">
            <p class="para"> Total shops : @ViewBag.Shops</p>
            <button class="btn btn-primary text-white bto" type="submit" id="submitButton" disabled>Next-></button>
        </div>
    </form>


</div>



@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        @if (TempData["ShowAlert"] != null)
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    Swal.fire({
                        title: '@ViewBag.title',
                        text: '@ViewBag.message',
                        icon: '@ViewBag.icon',
                        timer: 3000,
                        timerProgressBar: true,
                        didClose: () => {
                            window.location.href = '@Url.Action("AddShop", "Home")';
                        }
                    });
                });
            </script>
        }
    }
}
