@model List<ShopDetail>

@{
    ViewData["Title"] = "Shops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center" style="background-color:white; border-radius:1rem;">
    <h2 class="display-4" style="font-weight:700;">Shops</h2>
    <br />

    <form asp-action="updateToken" method="post">
        <div class="table-wrapper text-center" style="background-color:white;">

            <table class="scrollable-table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Bussiness Type
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Creation Date
                        </th>
                        <th>
                            Choose One
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int cnt = 0;
                        foreach (var shop in Model)
                        {
                            cnt++;
                            <tr>
                                <td>
                                   @cnt
                                </td>
                                <td>
                                    @shop.shopName
                                </td>
                                <td>
                                    @shop.bussinessType
                                </td>
                                <td>
                                    @shop.shopAddress
                                </td>
                                <td>
                                    @shop.shopDescription
                                </td>
                                <td>
                                    @shop.createdOn.Value.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <input type="checkbox"
                                           class="checkbox-item"
                                           name="selectedCheckbox"
                                           value="@shop.shopId"
                                           onclick="handleCheckboxClick(this)" />
                                </td>

                               
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div class="text-lg-end" style="margin-top:22px;">
            <button class="btn btn-primary text-white bto" type="submit" id="submitButton" disabled  >Next-></button>
        </div>
    </form>
    

</div>



@section Scripts {

<!-- #Code dedicate to checkbox -->

    <script>
        function handleCheckboxClick(clickedCheckbox) {
            var checkboxes = document.getElementsByName('selectedCheckbox');

            checkboxes.forEach(function (checkbox) {
                if (checkbox !== clickedCheckbox) {
                    checkbox.checked = false;
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            // Function to update the submit button state
            function updateSubmitButtonState() {
                // Check if any checkbox is checked
                var anyChecked = $('.checkbox-item:checked').length > 0;
                if (anyChecked) {
                    $('#submitButton').prop('disabled', false); // Enable the button
                } else {
                    $('#submitButton').prop('disabled', true); // Disable the button
                }
            }
            // Initial check on page load
            updateSubmitButtonState();
            // Attach the change event listener to all checkboxes
            $('.checkbox-item').on('change', function () {
                updateSubmitButtonState();
            });
        });
    </script>

<!-- #endregion==>Code dedicate to checkbox -->
   
  @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        @if (TempData["ShowAlert"] != null)
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    Swal.fire({
                        title: '@ViewBag.title',
                        text: '@ViewBag.message',
                        icon: '@ViewBag.icon',
                        timer: 3000,
                        timerProgressBar: true,
                        didClose: () => {
                            window.location.href = '@Url.Action("AddShop", "Home")';
                        }
                    });
                });
            </script>
        }
    }
}
